/*
a, a:link {
	color: #FFE44A;
}

a:visited {
	text-decoration: none;
	color: #0ce3ac;
	
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #C5E2F0;
}

*/
a:active, a:focus {
	color: white;
	outline: none;
	text-decoration: none;
}

/****************************** NAV-BAR ******************************/
/*
.nav-bar {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	display: inline;
	z-index: 2;
  background-color: black;
  width: 100%;
  position: fixed;

}

.nav-bar a{
	width: 100%;
	padding-left: 20px;
	color: #8AB9D1;
}
.nav-bar a:hover{
	color: #C5E2F0;
}
.left-nav {
	margin-left: -20px;

}
.right-nav {
	float: right;
	text-align: right;

}
.right-nav a {
	text-decoration: none;

}
*/
.nav {
	background-color: #84A4B3;

}
.nav-tabs {
	text-align: center;
  border-bottom: 0px;
}

.nav-tabs > li {
	float: none;
	display: inline-block;

}
.nav-tabs > li > a{
	float: none;
	display: inline-block;
	padding: 10px 30px 10px 30px;
	color: white;
	font-size: 21px;
}

.nav-tabs > #art-tab.active > a,
.nav-tabs > #art-tab.active > a:hover,
.nav-tabs > #art-tab.active > a:focus {
  color: white;
  background-color: black;
  border-bottom-color: transparent;
  cursor: default;
 	border: 0px;
	

}
.nav-tabs > #resume-tab.active > a,
.nav-tabs > #resume-tab.active > a:hover,
.nav-tabs > #resume-tab.active > a:focus {
  color: #84A4B3;
  background-color: #F0EDE9;
  border-bottom-color: transparent;
  cursor: default;
 	border: 0px;
}

#resume-tab > a:hover {
  color: #84A4B3;
  background-color: #F0EDE9;
}

/****************************** JUMBOTRON ******************************/
.jumbotron{
  background-image:url('images/photos/pimg5.jpg');
  height: 1050px;
  background-repeat: no-repeat;
  background-size: cover;
	margin-bottom: 0px;
	background-color: black;
}


.jumbotron .container {
	top: 10px;
  position: relative;

}

.jumbotron .container p {
	
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;

}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.img-circle {
	margin-top: -20px;
	border-radius: 50%;
	display: inline-block;	
  width: 175px;
  height: auto;
}

#introduction {
	margin-top: -10px;
	text-align: center;
}



/****************************** BEGIN BLOG SECTION ******************************/

.blog-section {
	padding-top: 10px;
	padding-bottom: 50px;
	width: 100%;

}
.blog-section h1 {
	color: #93B1BF;
	text-align: center;
	margin-top: 35px;
}
.blog-section h3 {
	color: black;
	text-align: center;
	opacity: 0.7;
	margin-top: 16px;
}
/*

	background: -webkit-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
	background: -moz-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
	background: -ms-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
	background: -o-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
	background: linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);

*/
.blog {


  font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;

  line-height: 25px;
  border: 1px solid #d2d2d2;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #F5EEDF 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #F5EEDF 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #F5EEDF 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #F5EEDF 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #F5EEDF 8%) 0 4px;
  -webkit-background-size: 100% 20px; /* for Chrome and Safari */
  -moz-background-size: 100% 20px; /* for Firefox */
  -ms-background-size: 100% 20px; /* for Internet Explorer */
  -o-background-size: 100% 20px; /* for Opera */
  background-size: 100% 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

	margin: auto;
	min-height: 450px;
	max-width: 450px;
	border-radius: 15px;
	position: relative;
  box-shadow: 10px 10px 5px #4f4f4f;
	margin-bottom: -30px;
}	


.blog .blog-entry p {

	font-family: Georgia, serif;
	opacity: 0.7;
  background: transparent;
  padding: 0px 15px 0px 15px;
	color: black;
  position: absolute; /* need this otherwise the blog box keeps moving up and down */
  margin: 5px;
	margin-top: 16px;

}

.blog .blog-entry-date  {
	font-size: 14px;
	font-style: italic;
	opacity: 0.5;
	color: black;
  position: absolute;
  bottom: 9px;
	right: 10px;
}

.blog-buttons {
	text-align: center;
	margin: auto;
}
.w3-btn-floating, .w3-btn-floating-large{
	background-color: #84A4B3;
	margin-left: 10px;
	margin-right: 10px;

}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover {
	color: white;
	background-color:#60ABD1;
	text-decoration: none;
}


/****************************** END BLOG SECTION ******************************/

td.left-col {
	width: 130px;
	font-weight: bold;
}

.main-body {
  background-color: #F0EDE9;
 	outline: none;
}

.main-body p {
  font-size: 15px;
  margin-bottom: 13px;
    
}

.subject {
	font-weight: bold;

}
.collapser {

	margin-top: 20px;
	padding : 20px;
	text-align: center;

}

.btn.btn-default.btn-lg.btn-block {
	font-size: 30px;
	border: none;
  white-space: normal !important;
  word-wrap: break-word;
 
}	

#other, #programming, #education {
	color: #F0EDE9;
	background-color: #A1B9C4;
}	

#other:hover, #programming:hover, #education:hover {
	background-color: #84A4B3;
}

	
.description {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	margin: 20px;

}

.description, .description > p {
	font-size: 17px;
	font-family: Georgia, serif;

}
.texts {
	color: black;
	padding-bottom: 30px;
	margin: auto;
}

.texts h4 {
	text-align: center;
	padding-bottom: 10px;

}
.texts ul {
	margin-bottom:  17px;

}

.texts ul li{
	font-size: 17px;	

}



/****************************** PICTURES ******************************/

.images {
	background-color: black;
	padding-bottom: 40px;

}

.images .container h1{
	color: #faf5f0;
}

.thumbnail {
  display: block;
  padding: 1px;
  margin-bottom: 21px;
  line-height: 1.42857143;
	border: 0;
	background-color : transparent;

}

.thumbnail h2 {
	color: #faf5f0;

}
.custom-caption {
	font-size: 20px;
	color: #efefef;
	text-align: center;
  margin-top: -5px;
  margin-bottom: -3px;
	padding: 9px;
	background-color: black;
}




/*TODO: how do you get rid of underline during a:active?*/

.custom-footer a, .custom-footer a:link {
	color: #EBCEA7;
}

.custom-footer a:visited {
	text-decoration: none;
	color: #8AB9D1;
	
}
.custom-footer a:active {
	text-decoration: none;
}
.custom-footer a:hover {
	text-decoration: none;
	color: #C5E2F0;
}

.custom-footer {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 15px;
	/*background-color: black;*/

}

.custom-footer h4 {
	margin-bottom: 21px;
}
.custom-footer p {
	margin-top: -10px;
	font-size: 14px;
}


.right-foot {
	float: right;

}
p > a {
	font-style: italic;

}
/****************************** MODAL POP UP ******************************/

/* Style the Image Used to Trigger the Modal */
.image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Syntax for Chrome, Safari, and Opera
	 -webkit- is used for Chrome, Safari, and Opera
*/
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

/* standard syntax is "@keyframes zoom" is the animation for modal pop-up.
	 scale 0 to scale 1 means to pop-up the image from 0 dimension to its full size. 
*/
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/* use comma to target multiple classes or ids */
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens 
	 @media rule is used to define different style rules for different media devices.
	 (max-width: 700px) determines when the image will readjust itself when browser window is resized.
	
*/
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

